<%= form_with(model: fighter, local: true) do |form| %>
  <% if fighter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fighter.errors.count, "error") %> prohibited this fighter from being saved:</h2>

      <ul>
        <% fighter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-12">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :firstname%>
      <%= form.text_field :firstname, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :lastname %>
      <%= form.text_field :lastname, class: 'form-control'  %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :phone %>
      <%= form.text_field :phone, class: 'form-control'  %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :gender_id %>
      <%= form.select(:gender_id, Gender.all.collect { |v| [ v.name, v.id ] }, {}, { "data-placeholder": "Gender", :class => 'form-control' })%>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :height %>
      <%= form.number_field :height, class: 'form-control'  %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :weight %>
      <%= form.text_field :weight, class: 'form-control'  %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :martial_art_id %>
      <%= form.select(:martial_art_id, MartialArt.all.collect { |v| [ v.name, v.id ] }, {}, { "data-placeholder": "Gender", :class => 'form-control'}) %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :category_id %>
      <%= form.select(:category_id, Category.all.collect { |v| [ v.description, v.id ] }, {}, { "data-placeholder": "Category", :class => 'form-control' }) %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-inline col-md-12">
      <%= form.label :date_of_birth %>
    </div>
    <div class="form-inline col-md-12">
      <%= form.date_select :date_of_birth, { :order => [:day, :month, :year],  :start_year => 2000, :end_year => Date.today.year}, {:class => "form-control"}  %>
    </div>
  </div>

  <div class="delimiter">&#8193</div>

  <div class="form-row">
    <div class="form-inline col-md-12">
      <%= form.label :activity_begin %>
    </div>
    <div class="form-inline col-md-12">
      <%= form.date_select :activity_begin, { :order => [:month, :year],  :start_year => 2000, :end_year => Date.today.year}, {:class => "form-control"} %>
    </div>
    <div class="delimiter">&#8193</div>
    <div class="form-inline col-md-12">
      <%= form.label :last_payment %>
    </div>
    <div class="form-inline col-md-12">
      <%= form.date_select :last_payment, { :order => [:month, :year],  :start_year => 2000, :end_year => Date.today.year}, {:class => "form-control"} %>
    </div>
  </div?
  
  
  <div class="delimiter">&#8193</div>

  <div class="form-group col-md-12">
    <%= form.label :notes %>
    <%= form.text_area :notes, class: 'form-control'  %>
  </div>

  <div class="actions form-group col-md-12">
    <%= form.submit 'Update', :class => 'btn btn-primary' %>
  </div>
<% end %>
