<p id="notice"><%= notice %></p>

<h1>Luchador</h1>
<%= link_to 'Crear luchador', new_fighter_path %>
<br><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Teléfono</th>
      <th>Último pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fighters.each do |fighter| %>
      <tr>
        <td><%= fighter.firstname %></td>
        <td><%= fighter.lastname %></td>
        <td><%= fighter.phone %></td>
        <td><%= fighter.last_payment %></td>
        <td><%= link_to 'Ver', fighter %></td>
        <td><%= link_to 'Editar', edit_fighter_path(fighter) %></td>
        <td><%= link_to 'Borrar', fighter, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>