<p id="notice"><%= notice %></p>

<div class="group-inline col-md-12">
  <%= image_tag url_for(@fighter.avatar), size: "100"%>
  <h1><%= @fighter.firstname %> <%= @fighter.lastname %></h1>
  <%= link_to 'Editar', edit_fighter_path(@fighter) %> | <%= link_to 'Back', fighters_path %>
</div>

<div class="delimiter">&#8193</div>

<div class="group-inline col-md-12">
  <strong>Teléfono:</strong>
  <%= @fighter.phone %>
</div>

<div class="delimiter">&#8193</div>

<div class="form-row">
    <div class="form-group col-md-4">
      <strong>Género:</strong>
      <%= Gender.find(@fighter.gender_id).name %>
    </div>
    <div class="form-group col-md-4">
      <strong>Altura (cm):</strong>
      <%= @fighter.height %>
    </div>
    <div class="form-group col-md-4">
      <strong>Peso (kg):</strong>
      <%= @fighter.weight %>
    </div>
</div>

<div class="delimiter">&#8193</div>

<div class="form-row">
    <div class="form-group col-md-4">
      <strong>Fecha de nacimiento:</strong>
      <%= @fighter.date_of_birth %>
    </div>
    <div class="form-group col-md-4">
      <strong>Inicio de actividades:</strong>
      <%= @fighter.activity_begin %>
    </div>
    <div class="form-group col-md-4">
      <strong>Último pago:</strong>
      <%= @fighter.last_payment %>
    </div>
</div>

<div class="delimiter">&#8193</div>

<div class="form-row">
    <div class="form-group col-md-4">
      <strong>Arte marcial:</strong>
      <%= MartialArt.find(@fighter.martial_art_id).name %>
    </div>
    <div class="form-group col-md-4">
      <strong>Categoría:</strong>
      <%= Category.find(@fighter.category_id).description %>
    </div>
</div>

<div class="delimiter">&#8193</div>
<div class="delimiter">&#8193</div>
<div class="delimiter">&#8193</div>

<div class="group-inline col-md-12">
  <strong>Notas:</strong>
  <%= @fighter.notes %>
</div>