<p id="notice"><%= notice %></p>

<div class="group-inline col-md-12">
  <%= image_tag url_for(@fighter.avatar), size: "100"%>
  <h1><%= @fighter.firstname %> <%= @fighter.lastname %></h1>
  <%= link_to 'Edit', edit_fighter_path(@fighter) %> | <%= link_to 'Back', fighters_path %>
</div>

<div class="delimiter">&#8193</div>

<div class="group-inline col-md-12">
  <strong>Phone:</strong>
  <%= @fighter.phone %>
</div>

<div class="delimiter">&#8193</div>

<div class="form-row">
    <div class="form-group col-md-4">
      <strong>Gender:</strong>
      <%= Gender.find(@fighter.gender_id).name %>
    </div>
    <div class="form-group col-md-4">
      <strong>Height:</strong>
      <%= @fighter.height %>
    </div>
    <div class="form-group col-md-4">
      <strong>Weight:</strong>
      <%= @fighter.weight %>
    </div>
</div>

<div class="delimiter">&#8193</div>

<div class="form-row">
    <div class="form-group col-md-4">
      <strong>Date of birth:</strong>
      <%= @fighter.date_of_birth %>
    </div>
    <div class="form-group col-md-4">
      <strong>Activity begin:</strong>
      <%= @fighter.activity_begin %>
    </div>
    <div class="form-group col-md-4">
      <strong>Last payment:</strong>
      <%= @fighter.last_payment %>
    </div>
</div>

<div class="delimiter">&#8193</div>

<div class="form-row">
    <div class="form-group col-md-4">
      <strong>Martial art:</strong>
      <%= MartialArt.find(@fighter.martial_art_id).name %>
    </div>
    <div class="form-group col-md-4">
      <strong>Category:</strong>
      <%= Category.find(@fighter.category_id).description %>
    </div>
</div>

<div class="delimiter">&#8193</div>
<div class="delimiter">&#8193</div>
<div class="delimiter">&#8193</div>

<div class="group-inline col-md-12">
  <strong>Notes:</strong>
  <%= @fighter.notes %>
</div>