<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= Gender.find(@category.gender_id).name  %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @category.weight %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
